################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Datawhale/P1-ConsoleDemo/Demo/.vs/Demo/v16
/Datawhale/P1-ConsoleDemo/Demo/Demo/obj
/Datawhale/P1-ConsoleDemo/.vs/P1-ConsoleDemo/v16
/Datawhale/P1-ConsoleDemo/P1-ConsoleDemo/obj
/Datawhale/P1-ConsoleDemo/P1-ConsoleDemo/bin/Debug/netcoreapp3.1
